    $black: rgba(0, 0, 0, 1);
    $blue-sapphire: #086788;
    $blue-sapphire-dark: #002835;
    $blue-sapphire-light: rgb(12, 150, 196);
    $orange-web: rgba(252, 163, 17, 1);
    $platinum: rgba(229, 229, 229, 1);
    $platinum-05: rgba(229, 229, 229, 0.5);
    $white: rgba(255, 255, 255, 1);
// https://blog.koalite.com/bbg/
/*
btn-q-default
btn-q-primary
btn-q-secondary
btn-q-highlight
btn-q-alert
*/

/*#region btn-q-default*/
.btn-q-default { 
  color: #000000; 
  background-color: #FFFFFF; 
  border-color: #E5E5E5; 
} 
 
.btn-q-default:hover, 
.btn-q-default:focus, 
.btn-q-default:active, 
.btn-q-default.active, 
.open .dropdown-toggle.btn-q-default { 
  color: #000000; 
  background-color: #e5e5e5; 
  border-color: #E5E5E5; 
} 
 
.btn-q-default:active, 
.btn-q-default.active, 
.open .dropdown-toggle.btn-q-default { 
  background-image: none; 
} 
 
.btn-q-default.disabled, 
.btn-q-default[disabled], 
fieldset[disabled] .btn-q-default, 
.btn-q-default.disabled:hover, 
.btn-q-default[disabled]:hover, 
fieldset[disabled] .btn-q-default:hover, 
.btn-q-default.disabled:focus, 
.btn-q-default[disabled]:focus, 
fieldset[disabled] .btn-q-default:focus, 
.btn-q-default.disabled:active, 
.btn-q-default[disabled]:active, 
fieldset[disabled] .btn-q-default:active, 
.btn-q-default.disabled.active, 
.btn-q-default[disabled].active, 
fieldset[disabled] .btn-q-default.active { 
  background-color: #FFFFFF; 
  border-color: #E5E5E5; 
} 
 
.btn-q-default .badge { 
  color: #FFFFFF; 
  background-color: #000000; 
}
/*#endregion btn-q-default*/

/*#region btn-q-primary*/
.btn-q-primary { 
  color: #FFFFFF; 
  background-color: #086788; 
  border-color: #086788; 
} 
 
.btn-q-primary:hover, 
.btn-q-primary:focus, 
.btn-q-primary:active, 
.btn-q-primary.active, 
.open .dropdown-toggle.btn-q-primary { 
  color: #086788; 
  background-color: rgba(8, 103, 135, 0.1); 
  border-color: #086788; 
} 
 
.btn-q-primary:active, 
.btn-q-primary.active, 
.open .dropdown-toggle.btn-q-primary { 
  background-image: none; 
} 
 
.btn-q-primary.disabled, 
.btn-q-primary[disabled], 
fieldset[disabled] .btn-q-primary, 
.btn-q-primary.disabled:hover, 
.btn-q-primary[disabled]:hover, 
fieldset[disabled] .btn-q-primary:hover, 
.btn-q-primary.disabled:focus, 
.btn-q-primary[disabled]:focus, 
fieldset[disabled] .btn-q-primary:focus, 
.btn-q-primary.disabled:active, 
.btn-q-primary[disabled]:active, 
fieldset[disabled] .btn-q-primary:active, 
.btn-q-primary.disabled.active, 
.btn-q-primary[disabled].active, 
fieldset[disabled] .btn-q-primary.active { 
  background-color: #086788; 
  border-color: #086788; 
} 
 
.btn-q-primary .badge { 
  color: #086788; 
  background-color: #FFFFFF; 
}
/*#endregion btn-q-primary*/

/*#region btn-q-secondary*/
.btn-q-secondary { 
  color: #000000; 
  background-color: #E5E5E5; 
  border-color: #E5E5E5; 
} 
 
.btn-q-secondary:hover, 
.btn-q-secondary:focus, 
.btn-q-secondary:active, 
.btn-q-secondary.active, 
.open .dropdown-toggle.btn-q-secondary { 
  color: #000000; 
  background-color: #FFFFFF; 
  border-color: #E5E5E5; 
} 
 
.btn-q-secondary:active, 
.btn-q-secondary.active, 
.open .dropdown-toggle.btn-q-secondary { 
  background-image: none; 
} 
 
.btn-q-secondary.disabled, 
.btn-q-secondary[disabled], 
fieldset[disabled] .btn-q-secondary, 
.btn-q-secondary.disabled:hover, 
.btn-q-secondary[disabled]:hover, 
fieldset[disabled] .btn-q-secondary:hover, 
.btn-q-secondary.disabled:focus, 
.btn-q-secondary[disabled]:focus, 
fieldset[disabled] .btn-q-secondary:focus, 
.btn-q-secondary.disabled:active, 
.btn-q-secondary[disabled]:active, 
fieldset[disabled] .btn-q-secondary:active, 
.btn-q-secondary.disabled.active, 
.btn-q-secondary[disabled].active, 
fieldset[disabled] .btn-q-secondary.active { 
  background-color: #E5E5E5; 
  border-color: #E5E5E5; 
} 
 
.btn-q-secondary .badge { 
  color: #E5E5E5; 
  background-color: #000000; 
}
/*#endregion btn-q-secondary*/

/*#region btn-q-highlight*/
.btn-q-highlight { 
  color: #086788; 
  background-color: #FFFFFF; 
  border-color: #086788; 
} 
 
.btn-q-highlight:hover, 
.btn-q-highlight:focus, 
.btn-q-highlight:active, 
.btn-q-highlight.active, 
.open .dropdown-toggle.btn-q-highlight { 
  color: #FFFFFF; 
  background-color: #086788; 
  border-color: #086788; 
} 
 
.btn-q-highlight:active, 
.btn-q-highlight.active, 
.open .dropdown-toggle.btn-q-highlight { 
  background-image: none; 
} 
 
.btn-q-highlight.disabled, 
.btn-q-highlight[disabled], 
fieldset[disabled] .btn-q-highlight, 
.btn-q-highlight.disabled:hover, 
.btn-q-highlight[disabled]:hover, 
fieldset[disabled] .btn-q-highlight:hover, 
.btn-q-highlight.disabled:focus, 
.btn-q-highlight[disabled]:focus, 
fieldset[disabled] .btn-q-highlight:focus, 
.btn-q-highlight.disabled:active, 
.btn-q-highlight[disabled]:active, 
fieldset[disabled] .btn-q-highlight:active, 
.btn-q-highlight.disabled.active, 
.btn-q-highlight[disabled].active, 
fieldset[disabled] .btn-q-highlight.active { 
  background-color: #FFFFFF; 
  border-color: #086788; 
} 
 
.btn-q-highlight .badge { 
  color: #FFFFFF; 
  background-color: #086788; 
}
/*#endregion btn-q-highlight*/

/*#region btn-q-alert*/
.btn-q-alert { 
  color: #FCA311; 
  background-color: #FFFFFF; 
  border-color: #FCA311; 
} 
 
.btn-q-alert:hover, 
.btn-q-alert:focus, 
.btn-q-alert:active, 
.btn-q-alert.active, 
.open .dropdown-toggle.btn-q-alert { 
  color: #FCA311; 
  background-color: rgba(252, 162, 17, 0.1); 
  border-color: #FCA311; 
} 
 
.btn-q-alert:active, 
.btn-q-alert.active, 
.open .dropdown-toggle.btn-q-alert { 
  background-image: none; 
} 
 
.btn-q-alert.disabled, 
.btn-q-alert[disabled], 
fieldset[disabled] .btn-q-alert, 
.btn-q-alert.disabled:hover, 
.btn-q-alert[disabled]:hover, 
fieldset[disabled] .btn-q-alert:hover, 
.btn-q-alert.disabled:focus, 
.btn-q-alert[disabled]:focus, 
fieldset[disabled] .btn-q-alert:focus, 
.btn-q-alert.disabled:active, 
.btn-q-alert[disabled]:active, 
fieldset[disabled] .btn-q-alert:active, 
.btn-q-alert.disabled.active, 
.btn-q-alert[disabled].active, 
fieldset[disabled] .btn-q-alert.active { 
  background-color: #FFFFFF; 
  border-color: #FCA311; 
} 
 
.btn-q-alert .badge { 
  color: #FFFFFF; 
  background-color: #FCA311; 
}
/*#endregion btn-q-alert*/