.image{
    height: 15em;
    width: 20em;
    object-fit: cover;
}

@media (max-width: 575.98px) { 
    .image{
        height: 5em;
        width: 10em;
        object-fit: cover;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .image{
        height: 7em;
        width: 13em;
        object-fit: cover;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .image{
        height: 11em;
        width: 15em;
        object-fit: cover;
    }
 }